@charset "UTF-8";
@import url("normalize.css");
@import url("fonts.css");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #131313;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 96%;
  height: 80px;
}

.header a {
  color: #FFFFFF;
  font-family: "Futurabookc", Arial, sans-serif;
  text-transform: uppercase;
}

.header a:hover {
  color: #E3B873;
}

.header .tel a {
  color: #E3B873;
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  .header .tel a {
    color: #FFFFFF;
    text-decoration: none;
  }
}

@media screen and (max-width: 375px) {
  .header {
    font-size: 76%;
    height: 60px;
  }
}

.logo--text {
  color: #E3B873;
  text-transform: uppercase;
  line-height: 16px;
  font-family: "Futurademic", Arial, sans-serif;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120%;
  padding: 0;
  margin: 0;
}

.nav ul li {
  padding-right: 4%;
}

.nav--item {
  list-style-type: none;
  color: #FFFFFF;
}

.nav--item-selected {
  color: #E3B873;
}

.nav--item-selected a {
  color: #E3B873;
}

@media screen and (max-width: 992px) {
  .nav {
    display: none;
  }
}

.button_request {
  text-transform: uppercase;
  font-size: 80%;
  font-family: "Futurademic", Arial, sans-serif;
  color: #FFFFFF;
  background: #E3B873;
  border: 2px solid transparent;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  padding: 0.8% 1.5%;
}

.button_request:hover {
  cursor: pointer;
  border: 2px solid #FFFFFF;
}

@media screen and (max-width: 375px) {
  .button_request {
    display: none;
  }
}

/*about*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 707px;
}

@media screen and (max-width: 375px) {
  .about {
    height: 486px;
  }
}

.instagram {
  position: relative;
  width: 5.7%;
  background: #131313;
  color: #E3B873;
  font-family: "Futurademic", Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 21%;
}

@media screen and (max-width: 375px) {
  .instagram {
    display: none;
  }
}

.instagram--text {
  display: block;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.instagram--text:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.proposal {
  width: 94.3%;
  background: url("./assets/images/propossal_bg.jpg") center center;
  background-size: cover;
}

@media screen and (max-width: 375px) {
  .proposal {
    width: 100%;
  }
}

.proposal h1 {
  font-size: 40px;
  font-family: "YesevaOneRegular", Georgia, serif;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 53px;
}

@media screen and (max-width: 375px) {
  .proposal h1 {
    font-size: 23px;
    line-height: 132.83%;
  }
}

.proposal h1 span {
  color: #E3B873;
}

.proposal--text {
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  font-family: "Futurabookc", Arial, sans-serif;
  margin-bottom: 5%;
}

@media screen and (max-width: 375px) {
  .proposal--text {
    font-size: 18px;
    line-height: 135.84%;
  }
}

.proposal .wrap_prop_text {
  width: 38%;
  padding-left: 5%;
  padding-top: 15%;
}

@media screen and (max-width: 992px) {
  .proposal .wrap_prop_text {
    width: 87%;
  }
}

.proposal--calc {
  background: #E3B873;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border: 2px solid transparent;
  border-radius: 2px;
  font-family: "Futurademic", Arial, sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  width: 207px;
  height: 51px;
  margin-right: 3%;
  margin-bottom: 3%;
}

.proposal--calc:hover {
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .proposal--calc {
    width: 100%;
    margin-top: 5%;
  }
}

.proposal--subm {
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  font-family: "Futurademic", Arial, sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  width: 207px;
  height: 51px;
}

.proposal--subm:hover {
  background: #E3B873;
  cursor: pointer;
  border: 2px solid #FFFFFF;
}

@media screen and (max-width: 375px) {
  .proposal--subm {
    width: 100%;
    margin-top: 5%;
  }
}

@media screen and (max-width: 375px) {
  .proposal--subm span {
    display: none;
  }
}

.scroll {
  width: 301%;
  height: 97px;
  background: #131313;
  position: absolute;
  bottom: -45px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .scroll {
    display: none;
  }
}

.scroll--text {
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "YesevaOneRegular", Georgia, serif;
  font-size: 14px;
  margin-right: 10px;
}

.scroll a {
  text-decoration: none;
  color: #E3B873;
}

.scroll .fa {
  font-size: 30px;
}

.scroll .fa:hover {
  color: #FFFFFF;
  cursor: pointer;
}

/*projects*/
.projects {
  width: 100%;
  background: #131313;
}

.nav_project {
  color: #E3B873;
  text-align: right;
  padding-top: 7%;
  padding-bottom: 3%;
}

@media screen and (max-width: 992px) {
  .nav_project {
    display: none;
  }
}

.nav_project ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5%;
}

.nav_project--item {
  list-style-type: none;
  font-family: "YesevaOneRegular", Georgia, serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 6.7%;
}

.nav_project--item:hover {
  cursor: pointer;
  color: #E3B873;
}

.nav_project--item-selected {
  color: #E3B873;
  text-decoration: underline;
}

.complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.complete_projects {
  width: 41.2%;
  background: #131313;
  height: 218px;
}

@media screen and (max-width: 992px) {
  .complete_projects {
    width: 100%;
    height: 168px;
  }
}

@media screen and (max-width: 375px) {
  .complete_projects {
    height: 213px;
  }
}

.complete_projects h2 {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  font-family: "YesevaOneRegular", Georgia, serif;
  margin: 0 30% 4% 19%;
}

@media screen and (max-width: 992px) {
  .complete_projects h2 {
    margin: 2% 4% 2% 5.5%;
  }
}

@media screen and (max-width: 375px) {
  .complete_projects h2 {
    margin: 5% 18% 7% 18%;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
  }
}

.complete_projects p {
  font-size: 18px;
  line-height: 29px;
  font-family: "Futurabookc", Arial, sans-serif;
  color: #FFFFFF;
  margin: 2%;
  margin: 0 7% 0 19%;
}

@media screen and (max-width: 992px) {
  .complete_projects p {
    margin: 0 7% 0 5.5%;
  }
}

@media screen and (max-width: 375px) {
  .complete_projects p {
    font-size: 14px;
    line-height: 158.48%;
    text-align: center;
    margin: 0 9% 0 9%;
  }
}

.complete_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 58.8%;
  height: 482px;
  overflow: hidden;
  position: relative;
}

.complete_slider img {
  display: inline-block;
  margin-right: 5%;
}

@media screen and (max-width: 992px) {
  .complete_slider {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .complete_slider {
    width: 95%;
    height: 240px;
    margin: 0 auto;
  }
}

.complete_slider .slider_button_right {
  position: absolute;
  top: 42%;
  right: 3%;
}

.complete_slider .slider_button_right:hover {
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .complete_slider .slider_button_right {
    width: 48px;
    height: 48px;
  }
}

.complete_slider .slider_button_left {
  position: absolute;
  top: 42%;
  left: 3%;
  display: none;
}

.complete_slider .slider_button_left:hover {
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .complete_slider .slider_button_left {
    display: block;
    width: 48px;
    height: 48px;
  }
}

.complete_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% 30% 40%;
      grid-template-rows: 30% 30% 40%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 29.2%;
  margin-left: 8%;
  background: #131313;
  height: 247px;
  margin-top: -247px;
}

@media screen and (max-width: 992px) {
  .complete_info {
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    margin-top: 5%;
    width: 85.2%;
  }
}

@media screen and (max-width: 375px) {
  .complete_info {
    height: 200px;
  }
}

.complete_info h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
  font-family: "YesevaOneRegular", Georgia, serif;
}

@media screen and (max-width: 375px) {
  .complete_info h3 {
    font-size: 14px;
    line-height: 138.6%;
  }
}

.complete_info p {
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  font-family: "Futurabookc", Arial, sans-serif;
}

.union {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media screen and (max-width: 992px) {
  .union {
    display: none;
  }
}

.union .fa-long-arrow-left {
  color: #FFFFFF;
  margin-right: 20px;
}

.union .fa-long-arrow-left:hover {
  cursor: pointer;
}

.union .fa-long-arrow-right {
  color: #FFFFFF;
  margin-left: 20px;
}

.union .fa-long-arrow-right:hover {
  cursor: pointer;
}

.union .dots {
  display: inline-block;
  margin: 1px 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.union .dots:hover {
  cursor: pointer;
}

.union .dots-selected {
  background: #FFFFFF;
}

/*on line control*/
.online_wrapper {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#131313), color-stop(40%, #131313), color-stop(40%, #FFFFFF));
  background-image: linear-gradient(to bottom, #131313, #131313 40%, #FFFFFF 40%);
  background-repeat: no-repeat;
}

@media screen and (max-width: 375px) {
  .online_wrapper {
    background: #131313;
  }
}

.online {
  width: 56.75%;
  margin: 0 auto;
  text-align: center;
  padding-top: 6%;
}

@media screen and (max-width: 992px) {
  .online {
    width: 90%;
  }
}

.online--h2 {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "YesevaOneRegular", Georgia, serif;
}

.online--cam {
  color: #E3B873;
}

.online--cam svg {
  margin: 2%;
}

@media screen and (max-width: 375px) {
  .online--cam svg {
    margin: 7%;
  }
}

.online--line {
  display: block;
  width: 60px;
  border: 1px solid #E3B873;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.online--text {
  margin: 0 auto;
  width: 85%;
  color: #131313;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .online--text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 169.8%;
    width: 100%;
  }
}

.online--form {
  color: #E3B873;
  margin-top: 10%;
}

.online--form label {
  display: block;
  text-align-last: left;
}

.online .field_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.online .field_wrap label {
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
  font-family: "Futurabookc", Arial, sans-serif;
}

@media screen and (max-width: 375px) {
  .online .field_wrap label {
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.online .field_wrap input {
  border: none;
  border-bottom: 1px solid #CACACA;
  width: 120%;
  margin-bottom: 9%;
}

@media screen and (max-width: 375px) {
  .online .field_wrap input {
    width: 100%;
    background-color: #131313;
  }
}

.online .field_wrap input[placeholder] {
  font-size: 18px;
  line-height: 24px;
  color: #131313;
  font-family: "Futurabookc", Arial, sans-serif;
}

.online .field_wrap button {
  -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  background: #E3B873;
  border: 2px solid transparent;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 26px;
  font-family: "Futurademic", Arial, sans-serif;
  text-transform: uppercase;
  padding-left: 60px;
  padding-right: 60px;
  max-height: 46px;
}

.online .field_wrap button:hover {
  border: 2px solid #E3B873;
  background: #FFFFFF;
  color: #E3B873;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .online .field_wrap button {
    height: 45px;
  }
}

.online .field_wrap .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2%;
}

.online .field_wrap .privacy .check {
  display: block;
  width: 20px;
  margin-top: 0.5%;
  margin-right: 1%;
}

@media screen and (max-width: 375px) {
  .online .field_wrap .privacy .check {
    margin-top: 1.8%;
  }
}

.online .field_wrap .privacy p {
  font-size: 16px;
  line-height: 22px;
  color: #131313;
  font-family: "Futurabookc", Arial, sans-serif;
}

@media screen and (max-width: 375px) {
  .online .field_wrap .privacy p {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 375px) {
  .online .field_wrap .wrap-1-inp {
    width: 100%;
  }
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*repair type*/
.repair {
  text-align: center;
  margin-bottom: 200px;
}

@media screen and (max-width: 992px) {
  .repair {
    margin-bottom: 0;
  }
}

.repair--h2 {
  color: #131313;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-family: "YesevaOneRegular", Georgia, serif;
}

@media screen and (max-width: 375px) {
  .repair--h2 {
    margin-top: 10%;
  }
}

.repair svg {
  margin: 2%;
}

@media screen and (max-width: 375px) {
  .repair svg {
    margin: 7%;
  }
}

.repair_example {
  width: 85.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.repair_example--card {
  width: 30.5%;
  margin-left: 2px;
  min-width: 300px;
  background: #E3B873;
  margin-bottom: 80px;
}

@media screen and (max-width: 375px) {
  .repair_example--card {
    min-width: 334px;
  }
}

.repair_example--about {
  width: 72%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  margin: 0 auto;
  text-align: left;
  padding-top: 25px;
  padding-left: 8%;
  padding-bottom: 50px;
  margin-top: 360px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .repair_example--about {
    margin-left: 0;
    margin-top: 250px;
  }
}

.repair_example ul {
  padding-left: 5%;
  font-family: "Futurabookc", Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.repair_example h3 {
  font-family: "YesevaOneRegular", Georgia, serif;
  font-size: 18px;
  line-height: 25px;
  color: #131313;
}

.repair_example .cost_square {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  width: 75%;
  height: 51px;
}

.repair_example .cost_square p {
  color: #FFFFFF;
  font-family: "YesevaOneRegular", Georgia, serif;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

.card1 {
  background: url("./assets/images/card1.jpg") no-repeat;
}

.card2 {
  background: url("./assets/images/card2.jpg") no-repeat;
}

.card3 {
  background: url("./assets/images/card3.jpg") no-repeat;
}

.repair_steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 99.3%;
  margin-top: 9%;
}

@media screen and (max-width: 375px) {
  .repair_steps {
    display: none;
  }
}

.scheme_repair {
  background: url("./assets/images/building.png") no-repeat;
  width: 58.2%;
  position: relative;
}

@media screen and (max-width: 992px) {
  .scheme_repair {
    width: 100%;
  }
}

.scheme_repair--each_step {
  display: block;
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  color: #131313;
  font-family: "Futuramediumc", Arial, sans-serif;
}

@media screen and (max-width: 992px) {
  .scheme_repair--each_step {
    display: none;
  }
}

.scheme_repair .step1 {
  top: 8%;
  left: 408px;
}

.scheme_repair .step2 {
  top: 29%;
  left: 487px;
}

.scheme_repair .step3 {
  top: 52%;
  left: 508px;
}

.scheme_repair .step4 {
  top: 79%;
  left: 443px;
}

.form_repair {
  width: 34.8%;
  height: 644px;
}

@media screen and (max-width: 992px) {
  .form_repair {
    width: 100%;
    height: 520px;
  }
}

.form_repair form {
  background: #131313;
  margin-top: 48px;
  padding-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .form_repair form {
    margin-top: 0;
  }
}

.form_repair--text {
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: "Futurademic", Arial, sans-serif;
  padding-top: 20px;
  width: 58%;
  margin: 0 auto;
}

.form_repair label {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Futurabookc", Arial, sans-serif;
  text-align: left;
  padding-left: 9.5%;
  margin-top: 40px;
}

.form_repair input {
  width: 81%;
  padding-top: 5px;
  background: #131313;
  border: none;
  border-bottom: 1px solid #CACACA;
}

.form_repair input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: "Futuramediumc", Arial, sans-serif;
}

.form_repair input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: "Futuramediumc", Arial, sans-serif;
}

.form_repair input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: "Futuramediumc", Arial, sans-serif;
}

.form_repair input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: "Futuramediumc", Arial, sans-serif;
}

.form_repair .check {
  display: inline-block;
  width: 7%;
  margin-top: 22px;
}

.form_repair .privacy_text {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  font-family: "Futurabookc", Arial, sans-serif;
  width: 78%;
  text-align: left;
}

.form_repair button {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Futurademic", Arial, sans-serif;
  background: #E3B873;
  border: 0;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  height: 51px;
  width: 40%;
  margin-top: 62px;
  margin-left: 50.5%;
  border: 2px solid transparent;
}

.form_repair button:hover {
  border: 2px solid #E3B873;
  background: #FFFFFF;
  color: #E3B873;
  cursor: pointer;
}

.economy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

@media screen and (max-width: 992px) {
  .economy {
    display: none;
  }
}

.coin {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #E3B873;
  margin: 2%;
}

.coin svg {
  margin-top: 16px;
}

.percent {
  color: #E3B873;
  font-family: "Futurademic", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  width: 50%;
  padding-top: 4%;
}

/*fantasies*/
.fant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 1017px;
  background: url("./assets/images/fant_bg.jpg") no-repeat;
  background-position-y: 47%;
}

@media screen and (max-width: 992px) {
  .fant {
    display: none;
  }
}

.fant_text {
  width: 40.2%;
  height: 100%;
}

.fant_text h2 {
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "YesevaOneRegular", Georgia, serif;
  color: #E3B873;
  margin-top: 37%;
  margin-bottom: 14%;
  margin-left: 17%;
  width: 49%;
}

.fant_text ul {
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  list-style-type: none;
  margin-left: 17%;
}

.fant_text ul li {
  margin-top: 2%;
}

.fant_text ul li.checked a {
  color: #E3B873;
  text-decoration: underline;
}

.fant_text ul a {
  color: #FFFFFF;
}

.fant_text ul a:hover {
  color: #E3B873;
  cursor: pointer;
}

.fant_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 52.15%;
  height: 86%;
}

.fant_images--col-left1 {
  width: 100%;
  height: 60%;
  background: url("./assets/images/fant1.jpg") no-repeat;
  margin-bottom: 10%;
}

.fant_images--col-left2 {
  width: 100%;
  height: 40%;
  background: url("./assets/images/fant2.jpg") no-repeat;
}

.fant_images--col-right1 {
  width: 100%;
  height: 30%;
  background: url("./assets/images/fant3.jpg") no-repeat;
  margin-bottom: 10%;
}

.fant_images--col-right2 {
  width: 100%;
  height: 70%;
  background: url("./assets/images/fant4.jpg") no-repeat;
}

.left_col {
  margin-top: 100px;
  width: 47.2%;
  height: 100%;
}

.fantmob {
  display: none;
  padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .fantmob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .fantmob {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(60%, #FFFFFF), color-stop(60%, #131313));
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF 60%, #131313 60%);
  }
}

.fantmob--h2 {
  width: 80%;
  font-size: 22px;
  line-height: 138.6%;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  font-family: "YesevaOneRegular", Georgia, serif;
  margin: 4%;
}

.fantmob--slider {
  display: block;
  width: 90%;
  min-height: 250px;
  background: url("./assets/images/fantmob_bg.jpg") no-repeat center center;
  position: relative;
}

.fantmob--slider-left_button {
  display: block;
  position: absolute;
  top: 44%;
  left: 4%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #E3B873;
}

.fantmob--slider-left_button svg {
  margin-top: 10px;
  margin-left: 12px;
}

.fantmob--slider-right_button {
  display: block;
  position: absolute;
  top: 44%;
  right: 4%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #E3B873;
}

.fantmob--slider-right_button svg {
  margin-top: 10px;
  margin-left: 15px;
}

.right_col {
  width: 47.2%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .right_col {
    display: none;
  }
}

/*design project*/
.design {
  text-align: center;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#131313), color-stop(54%, #131313), color-stop(54%, #FFFFFF));
  background-image: linear-gradient(to top, #131313, #131313 54%, #FFFFFF 54%);
}

@media screen and (max-width: 992px) {
  .design {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#131313), color-stop(74%, #131313), color-stop(74%, #FFFFFF));
    background-image: linear-gradient(to top, #131313, #131313 74%, #FFFFFF 74%);
  }
}

@media screen and (max-width: 375px) {
  .design {
    background: #131313;
  }
}

.design--h2 {
  color: #131313;
  font-family: "YesevaOneRegular", Georgia, serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 6%;
}

@media screen and (max-width: 375px) {
  .design--h2 {
    color: #FFFFFF;
    margin-top: 0;
  }
}

.design--text {
  width: 48%;
  margin: 0 auto;
  color: #131313;
  font-family: "Futurabookc", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 3%;
}

@media screen and (max-width: 375px) {
  .design--text {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 135.84%;
    width: 74%;
  }
}

.design--pencil {
  margin: 2%;
}

@media screen and (max-width: 375px) {
  .design--pencil {
    margin: 4%;
  }
}

.design_card_wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 87.8%;
  margin: 0 auto;
}

.design_card {
  width: 30.7%;
  background: #E3B873;
  margin-left: 2px;
  min-width: 300px;
  margin-bottom: 92px;
}

@media screen and (max-width: 992px) {
  .design_card {
    width: 30.5%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px) {
  .design_card {
    min-width: 334px;
    margin-bottom: 0;
  }
}

.design_example--about {
  width: 72%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  margin: 0 auto;
  text-align: left;
  padding-top: 25px;
  padding-left: 8%;
  padding-bottom: 50px;
  margin-top: 360px;
  position: relative;
}

@media screen and (max-width: 375px) {
  .design_example--about {
    margin-left: 0;
    margin-top: 250px;
  }
}

.design_example--about ul {
  padding-left: 5%;
  font-family: "Futurabookc", Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.design_example--about h3 {
  font-family: "YesevaOneRegular", Georgia, serif;
  font-size: 18px;
  line-height: 25px;
  color: #131313;
}

.design_example--about .cost_square {
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  background: #E3B873;
  -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
          box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  width: 75%;
  height: 51px;
}

.design_example--about .cost_square p {
  color: #FFFFFF;
  font-family: "YesevaOneRegular", Georgia, serif;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

.d-card1 {
  height: 532px;
  background: url("./assets/images/card1.jpg") no-repeat;
}

.d-card2 {
  height: 607px;
  background: url("./assets/images/card2.jpg") no-repeat;
}

.d-card3 {
  height: 736px;
  background: url("./assets/images/card3.jpg") no-repeat;
}

/*6 steps*/
.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 686px;
  background: #131313;
}

@media screen and (max-width: 992px) {
  .steps {
    display: none;
  }
}

.steps_about {
  width: 39%;
  height: 100%;
  padding-left: 7%;
}

.steps_about .union {
  margin-top: 100px;
}

.steps_about--how {
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Futurademic", Arial, sans-serif;
}

.steps_about--h2 {
  display: block;
  width: 30%;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  font-family: "YesevaOneRegular", Georgia, serif;
  margin-top: 20px;
  margin-bottom: 70px;
}

.steps_about--h3 {
  display: block;
  width: 49%;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: #E3B873;
  font-family: "YesevaOneRegular", Georgia, serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.steps_about--page_num {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "YesevaOneRegular", Georgia, serif;
}

.steps_about--text {
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  font-family: "Futurabookc", Arial, sans-serif;
  margin-bottom: 10px;
  width: 67%;
}

.steps_nav--navgrid {
  width: 61%;
  height: 100%;
  background: pink;
}

/*team*/
/*# sourceMappingURL=style.css.map */